
/* imported text. Include the file in a directory*/
@font-face {
  font-family: 'cooper';
  src: url(../cooper-black-std.ttf);
}


/********* General Styling ************/

.row {
  background: #fff;
  margin-bottom: 0;
}

.container {
  padding: 0;
}

.container-top, .main-top, .row1 {
  background: #d6f1f0;
}

.container-bottom, .main-bottom, .row4 {
  background: #78cbd1;
}

.row1 {
  padding-top: 60px;
}

/********Very top, right links *************/

.sign-in {
  display: flex;
}

.sign-in li {
  padding: 0 8px;
  color: #34979f;
  font-family: sans-serif;
  font-size: 1.1em;
}

.sign-in li:first-child {
  border-right: 2px solid #34979f;
}

/***********Top Section ******************/

.logo-col {
  align-self: flex-end;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  margin: 70px 20px 10px;
}

.top-nav li {
  border-radius: 20px;
  flex-grow: 1;
  text-align: center;
  margin: 0 1px;
  color: #fff;
  font-size: 1.25em;
  font-weight: 200;
}

.top-nav li:first-child {
  background: #78cbd0;
}

.top-nav li:nth-child(2) {
  background: #8db639;
}

.top-nav li:nth-child(3) {
  background: #6f308b;
}

.top-nav li:last-child {
  background: #e9168c;
}

.tag-line {
  width: 100%;
}

/***************Light Pink Nav Bar ******************/

.row2 {
  border-radius: 60px 60px 0 0;
  display: flex;
  height: 160px;
}

nav {
  background: #f4cbd3;
  box-shadow: none;
}

nav div div ul {
  display: flex;
  justify-content: space-between;
}

.main-nav a {
  color: #6e1849;
  font-family: 'cooper';
  font-size: 1.5em;
  font-weight: 400;
}

.search input {
  display: block;
  line-height: inherit;
  padding-left: 15%;
  width: calc(100% - 4rem);
  height: 25px;
  margin-top: 18px;
  border-radius: 20px;
  border-color: #e9168c;
  background: #fff url(../img/search.gif) no-repeat left;
  text-align: center;
}

/*************** Main Content ******************/

h4 {
  color: #7DC328;
  font-family: 'cooper';
  font-size: 1.75em;
}

.owl img, .owl p {
  display: inline-block;
}

p {
  color: #78cbd0;
  font-size: 1.25em;
}

.shop-now {
  width: 100%;
}

.tree {
  margin-top: 25%;
  margin-left: 75%;
}

.chitlins {
  margin-top: 20px;
}

.chitlins img {
  width: 100%;
}

.social {
  display: flex;
  justify-content: space-between;
}

.blue-dots {
  height: 20px;
  background: #fff url("../img/homepage/dotted_line_44x9.png") repeat-x top left;
}

/************* Social Icon Row *******************/

.row4 .row:last-child {
  background: #fff;
  border-radius: 0 0 30px 30px;
  padding: 0 30px;
}

/***************** Footer ************************/

.footer {
  display: flex;
  justify-content: center;
}

.footer li {
  padding: 0 8px;
  border-right: 1px solid #fff;
  margin-bottom: 150px;
}

.footer li:last-child {
  border-right: none;
}

.footer li a {
  color: #fff;
}




